<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.geniusmarket.dao.AnswerMapper">
    <insert id="insertAnswerByObject" parameterType="com.example.geniusmarket.pojo.Answer" useGeneratedKeys="true" keyProperty="answerId">
        insert  into `answer` values (null,#{answerer},#{questionId},#{detail},#{createTime},
                                      #{likes},#{reward},#{status})
    </insert>
    <select id="selectAnswerById" parameterType="int" resultMap="Answer">
        select * from `answer` where answerId=#{id} and status = 1
    </select>
    <select id="selectAnswersByString" parameterType="string" resultMap="Answer">
        select * from `answer` where detail like "%"#{str}"%" and status = 1
    </select>
    <select id="selectAnswerInQuestion" parameterType="int" resultMap="Answer">
        select * from `answer` where questionId =#{questionId} and status = 1
    </select>
    <select id="selectAnswerByStatus" parameterType="int" resultMap="Answer">
        select * from `answer` where `status` = #{status}
    </select>
    <update id="updateAnswerByObject" parameterType="com.example.geniusmarket.pojo.Answer">
        update `answer` set detail=#{detail},likes=#{likes},reward=#{reward},status=#{status}
                        where answerId=#{answerId}
    </update>
    <update id="addAnswerLikes" parameterType="int">
        update `answer` set likes =likes +1 where answerId=#{answerId}
    </update>
    <delete id="deleteAnswerById" parameterType="int">
        delete from `answer` where answerId=#{id}
    </delete>
    <resultMap id="Answer" type="com.example.geniusmarket.pojo.Answer">
        <result property="answerId" column="answerId"/>
        <result property="answerer" column="answerer"/>
        <result property="questionId" column="questionId"/>
        <result property="detail" column="detail"/>
        <result property="createTime" column="createTime"/>
        <result property="likes" column="likes"/>
        <result property="reward" column="reward"/>
        <result property="status" column="status"/>
    </resultMap>
</mapper>