<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.geniusmarket.dao.FansMapper">
    <insert id="insertFansByObject" parameterType="com.example.geniusmarket.pojo.Fans">
        insert  into fans values (#{fansId},#{attentionId})
    </insert>
    <delete id="deleteFansByObject" parameterType="com.example.geniusmarket.pojo.Fans">
        delete from fans where fansId=#{fanId} and  attentionId=#{attentionId}
    </delete>
    <resultMap id="Fans" type="com.example.geniusmarket.pojo.Fans">
        <result property="fanId" column="fansId"/>
        <result property="attentionId" column="attentionId"/>
    </resultMap>
</mapper>